{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "meteor": true
  },
  "globals": {
    "MyCollection": true,
    "moment": false
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "import/no-unresolved": [
      2, { "ignore": ["^meteor/"] }
    ],
    "meteor/no-session": 0
  }
}
